body {
    font-size: 16pt;
    line-height: 1.5;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}

h1 { font-size: 2.747em }
h2 { font-size: 1.229em }
h3 { font-size: 0.874em }

span.edit { background-color: tan }

a:hover, a:active { background-color: cornflowerblue; text-decoration: none; color: white;}

header, footer {display: block; text-align: center;}
article{display: block; max-width: 28em; margin: auto; padding: 0 1 em;}
section > h1 { font-size: 1.229em }
ul li {line-height: 2}
dt {font-weight: bold; margin-bottom: 1em;}

section.ruled { display: block; padding-top: 1em; border-top: 2px inset gray; padding-bottom: 1em; }

footer { display: block; padding-top: 1em; border-top: 2px inset gray}
footer > ul { list-style-type: none; margin: 0; padding: 0; }
footer > ul > li { display: inline; padding-left: 1ex; padding-right: 1ex; }


.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    height: 250px;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
